body {
  font-family: "Comfortaa", cursive;
  color: #01d65d;
  text-shadow: 3px 4px 5px #001722;
  display: block;
  margin: 0 auto;
  max-width: 575px;
  padding-top: 20px;
  padding-bottom: 20px;
}
h2 {
  display: block;
  padding-top: 20px;
  font-size: 40px;
  font-weight: bold;
}
h7 {
  text-align: center;
  font-size: 15px;
}
p {
  text-align: center;
  font-size: 18px;
  padding-top: 0;
  margin: 0;
}
a {
  color: #8cc5a5;
  cursor: pointer;
  transition: ease-in-out 200ms;
  font-size: 20px;
}
a:hover {
  color: #01d65d;
  text-decoration: none;
}
ul {
  margin: 0;
  padding-bottom: 20px;
  padding-left: 50px;
}
li {
  list-style: none;
  line-height: 25px;
  margin: 0;
  font-size: 16px;
  font-weight: normal;
  text-align: left;
}
footer {
  padding-top: 20px;
  margin: 0 auto 15px;
}
i {
  padding: 5px;
}

.city {
  color: rgb(201, 201, 201);
  display: block;
  text-align: center;
}
.card {
  display: block;
  text-align: center;
  background-image: linear-gradient(180deg, #00273a, 30%, #135c86);
  border-radius: 20px;
  border-width: 5px;
  border-color: rgb(113, 143, 182);
}
.search-city {
  padding: 20px 10px 0px;
}
.description {
  padding-top: 5px;
  font-size: 20px;
  text-transform: uppercase;
}
.temperature #temperature {
  font-size: 75px;
  text-shadow: 3px 4px 5px #002030;
  font-weight: normal;
}
.temperature .active {
  color: #01d65d;
  cursor: default;
  text-decoration: none;
}
.units {
  position: relative;
  font-size: 16px;
  top: -34px;
}
.days {
  padding: 0 20px;
}
.row {
  text-align: center;
  font-size: 13px;
}
.weather-forecast {
  margin: 0% 5%;
  display: inline-flex;
  padding-top: 10px;
  padding-bottom: 10px;
}
.weather-forecast img {
  display: block;
  margin: 0 auto;
  padding: 5px;
  height: 55px;
  width: 55px;
}
#icon {
  height: 130px;
  width: 120px;
  padding-top: 15px;
  padding-bottom: 10px;
}
.city-search-control {
  border: 1px rgb(175, 175, 175) solid;
  border-radius: 5px;
  width: 80%;
  padding: 0.375rem 0.75rem;
  margin-top: 10px;
}
.search button {
  color: #14618d;
  border: none;
}
#search-icon {
  position: relative;
  bottom: 30px;
  left: 84%;
  padding: 0;
  margin: 0;
  display: block;
  background: transparent;
  border: none;
  color: #155d86;
}
button#search-icon:hover {
  color: rgb(113, 143, 182);
}

#current-location-button {
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  padding: 10px 20px;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 10px;
  border: 2px solid rgb(113, 143, 182);
  color: #b8eecf;
  box-shadow: 3px 4px 4px #0b2b3a;
  transition: all 200ms ease-in-out;
}
button#current-location-button:hover {
  color: #01d65d;
  background-color: #125880;
}
#github-ref {
  text-decoration: none;
  font-size: 12px;
}
